.contenedorItemsProductos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 20px;
}
.contenedorABMProductos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-product-button {
    margin: 5px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: #A8DADC;
    border-color: #A8DADC;
}
.table-header {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #457B9D;
}

@media(max-width: 760px) {
    .table-header {
        display: none;
    }
}