.containerCardsTypeProducts{
    background-color: #F1FAEE;
}

.containerCardsOnSaleProducts{
    background-color: #A8DADC;
}

.carrouselAndButton {
    background-color: #1D3557;
}

.containerGlobal {
    padding: 20px;
}
.carrousel-button {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #A8DADC;
    border-color: #A8DADC;
}
.container-product-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.no-padding-margin {
    padding: 0px;
    margin: 0px;
}