.containerCardsTypeProducts{
    background-color: #F1FAEE;
}

.containerCardsOnSaleProducts{
    background-color: #A8DADC;
}

.carrouselAndButton {
    background-color: #457B9D;
}

.containerGlobal {
    padding: 20px;
}